.p:hover{
    color:rgb(98, 0, 255)
}
h1{
    color:blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color:blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(167, 230, 255);
}
.p_1{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}